.todo-list li {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #eee;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
}

.todo-list li:hover {
    box-shadow: 0px 0px 7px #ccc;
    background-color: rgb(231, 244, 255);
}